<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ce.hesh.blinkfeedcoolapk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.htc.permission.APP_DEFAULT" />
    <uses-permission android:name="com.htc.permission.APP_PLATFORM" />
    <uses-permission android:name="com.htc.permission.APP_SHARED" />
    <uses-permission android:name="com.htc.permission.APP_MEDIA" />
    <uses-permission android:name="com.htc.sense.permission.APP_HSP" />
    <uses-permission android:name="com.htc.sense.permission.launcher.DEFAULT" />
    <uses-permission android:name="htc.socialmanager.permission.USE_SOCIALSERVICE" />
    <uses-permission android:name="htc.socialmanager.permission.USE_PLUGINSERVICE" />
    <uses-permission android:name="htc.socialmanager.permission.READ_SOCIAL_DATABASE" />
    <uses-permission android:name="htc.socialmanager.permission.WRITE_SOCIAL_DATABASE" />


    <application
        tools:replace="android:label"
        android:name=".CoolApplication"
        android:allowBackup="true"
        android:icon="@drawable/coolapk"
        android:label="@string/htc_coolapk_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <meta-data
            android:name="coolapk_opensense"
            android:resource="@xml/coolapk_supports" />

        <provider
            android:name="ce.hesh.blinkfeedcoolapk.provider.MainProvider"
            android:authorities="ce.hesh.blinkfeedcoolapk.provider.MainProvider"
            android:exported="true"
            android:label="@string/coolapk_updates"
            android:permission="com.htc.sense.permission.socialplugins.USE_SOCIAL_COMPONENT"
            android:process="com.htc.sense.socialplugins" />

        <service
            android:name="ce.hesh.blinkfeedcoolapk.account.AccountService"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>

        <service
            android:name="ce.hesh.blinkfeedcoolapk.sync.CoolApkSocialPluginService"
            android:permission="com.htc.sense.permission.APP_HSP"
            android:process="com.htc.sense.socialplugins">
            <intent-filter>
                <action android:name="com.htc.opensense.social.SocialPlugin" />
            </intent-filter>
        </service>

        <service
            android:name=".ClearDataService"
            android:exported="false"
            android:permission="com.htc.sense.permission.APP_HSP" />

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".ui.DetailActivity"
            android:exported="true"
            android:permission="com.htc.sense.permission.APP_HSP">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="ce.hesh.blinkfeedcoopapk.ACTION_SHARE" />
                <action android:name="ce.hesh.blinkfeedcoopapk.ACTION_VIEW_DETAIL" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.PicsActivity" />

        <receiver
            android:name="ce.hesh.blinkfeedcoolapk.receiver.SnsReciver"
            android:label="@string/htc_coolapk_app_name">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="senseVersion"
            android:value="Sense 6.0" />
        <meta-data
            android:name="srcChangelist"
            android:value="840992" />
        <meta-data
            android:name="arsChangelist"
            android:value="766897" />
        <meta-data
            android:name="BuildTime"
            android:value="-1872774080" />

    </application>

</manifest>